.grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "box1"
    "box2"
    "box3"
    "box4"
    "box5";

  gap: 1rem;
  overflow: scroll;
  padding: 0.5rem 0;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  background: var(--primary-foreground);
  padding: 1rem;
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}
.box6 {
  grid-area: box6;
}

/* from 1024px and up */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 150px 1fr 1fr;
    grid-template-areas:
      "box1 box2"
      "box3 box5"
      "box4 box5";
  }
}
