.grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "box1"
    "box2"
    "box3"
    "box4"
    "box5"
    "box6";
  gap: 1rem;
  overflow: scroll;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  min-height: 28rem;
  place-content: center;
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}
.box6 {
  grid-area: box6;
}

/* from 768px and up */
@media (min-width: 968px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "box1 box1"
      "box2 box3"
      "box5 box5"
      "box4 box6";
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "box1 box1 box2 box3"
      "box4 box5 box5 box6";
  }
}
